<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Gerenciamento de veículos</li>
  </ol>
</nav>
<div class="container">
  <div class="card list-veiculo">
    <h5 class="card-header">Lista de veículos</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Placa</th>
              <th scope="col">Chassi</th>
              <th scope="col">Renavan</th>
              <th scope="col">Modelo</th>
              <th scope="col">Marca</th>
              <th scope="col">Ano</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let veiculo of veiculos">
              <td>{{veiculo.placa}}</td>
              <td>{{veiculo.chassi}}</td>
              <td>{{veiculo.renavan}}</td>
              <td>{{veiculo.modelo}}</td>
              <td>{{veiculo.marca}}</td>
              <td>{{veiculo.ano}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editVeiculo(veiculo)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteVeiculo(veiculo)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>

  <div class="card add-veiculo">
      <h5 class="card-header">Adicionar/Atualizar veículo</h5>
      <div class="card-body">
          <form id="add-form" (ngSubmit)="f.form.valid && saveVeiculo(f)" #f="ngForm" novalidate>

            <div class="form-group">
                <label for="placa">Placa</label>
                <input type="text" [(ngModel)]="veiculo.placa" id="placa" name="placa" #placa="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && placa.invalid }" placeholder="Digite a placa">
                <div *ngIf="f.submitted && placa.invalid" class="invalid-feedback">
                  <div *ngIf="placa.errors">Placa é obrigatória</div>
                </div>
            </div>

            <div class="form-group">
              <label for="chassi">Chassi</label>
              <input type="text" [(ngModel)]="veiculo.chassi" id="chassi" name="chassi" #chassi="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && chassi.invalid }" placeholder="Digite o chassi">
              <div *ngIf="f.submitted && chassi.invalid" class="invalid-feedback">
                <div *ngIf="chassi.errors">Chassi é obrigatório</div>
              </div>
            </div>

            <div class="form-group">
              <label for="renavan">Renavan</label>
              <input type="text" [(ngModel)]="veiculo.renavan" id="renavan" name="renavan" #renavan="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && renavan.invalid }" placeholder="Digite o renavan">
              <div *ngIf="f.submitted && renavan.invalid" class="invalid-feedback">
                <div *ngIf="renavan.errors">Renavan é obrigatória</div>
              </div>
            </div>

            <div class="form-group">
              <label for="modelo">Modelo</label>
              <input type="text" [(ngModel)]="veiculo.modelo" id="modelo" name="modelo" #modelo="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && modelo.invalid }" placeholder="Digite o modelo">
              <div *ngIf="f.submitted && modelo.invalid" class="invalid-feedback">
                <div *ngIf="modelo.errors">Modelo é obrigatória</div>
              </div>
            </div>

            <div class="form-group">
              <label for="marca">Marca</label>
              <input type="text" [(ngModel)]="veiculo.marca" id="marca" name="marca" #marca="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && marca.invalid }" placeholder="Digite a marca">
              <div *ngIf="f.submitted && marca.invalid" class="invalid-feedback">
                <div *ngIf="marca.errors">Marca é obrigatória</div>
              </div>
            </div>

            <div class="form-group">
              <label for="ano">Ano</label>
              <input type="text" [(ngModel)]="veiculo.ano" id="ano" name="ano" #ano="ngModel" required class="form-control" [ngClass]="{ 'is-invalid': f.submitted && ano.invalid }" placeholder="Digite o ano">
              <div *ngIf="f.submitted && ano.invalid" class="invalid-feedback">
                <div *ngIf="ano.errors">Ano é obrigatória</div>
              </div>
            </div>          
           
            <button type="submit" class="btn btn-primary btn-add-veiculo">Salvar</button>
            <button type="reset" class="btn btn-secondary btn-add-veiculo" (click)="cleanForm(f)">Cancelar</button>
          </form>
      </div>
    </div>
</div>